body {
    font: normal normal 400 1em 'Merriweather', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: rgb(108, 156, 205);
    margin: 0;
    padding: 0;
    --wr-max: 1140px;
    position: relative;
    --card-bg: rgb(255, 255, 255);
    word-wrap: anywhere;
    --color-bg: #fff;
    background: #fff;
    word-break: break-word;
    --font-text: normal normal 400 1em 'Merriweather', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    --font-title: normal normal 800 1em 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-system: -apple-system, BlinkMacSystemFont, Segoe UI, Inter, Helvetica, Arial, sans-serif;
    overflow-wrap: anywhere;
    --border-width: 1px;
    text-rendering: optimizeLegibility;
    --color-bg-card: #f8f9fa;
    --fontSize-text: 1em;
    --card-boxShadow: 0px 19px 30px -10px rgba(21, 21, 25, 0.21);
    --fontSize-title: 2.5em;
    --color-text-link: #1864ab;
    --card-borderColor: rgb(231, 231, 231);
    --card-borderWidth: 1px;
    --card-borderRadius: 10px;
    --color-text-primary: #212529;
    --color-border-normal: #f1f3f5;
    --color-accent-primary: #9c36b5;
    --color-text-secondary: rgb(108, 156, 205);
    -webkit-font-smoothing: antialiased;
    --fontWeight-text-heavy: 700;
    -moz-osx-font-smoothing: grayscale;
    --fontWeight-text-medium: 400;
    -webkit-text-size-adjust: 100%;
  }
  a, .link {
    color: var(--color-text-link);
    font-weight: var(--fontWeight-text-medium);
    text-decoration: none;
  }
  a:not(.btn):hover {
    text-decoration: underline;
  }
  strong {
    font-weight: var(--fontWeight-text-heavy);
  }
  #measure-layer {
    z-index: -1;
    position: absolute;
    visibility: hidden;
  }
  .wr {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    max-width: var(--wr-max);
    box-sizing: border-box;
  }
  @media only screen and (max-width: 700px) {
    .wr {
      padding: 0 15px;
    }
  }
  
  @keyframes keyframes-badgeFade {
    0% {
      opacity: 0;
      transform: scale(0.8) translate(0, 10px);
    }
    80% {
      opacity: 0;
      transform: scale(0.8) translate(0, 10px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(0, 0);
    }
  }
  
  @keyframes keyframes-editorHighlight {
    0% {
      box-shadow: transparent;
      border-color: transparent;
      background-color: transparent;
    }
    45% {
      box-shadow: inset 0 0 15px rgba(99, 161, 255, 0.3);
      border-color: #63a1ff;
    }
    80% {
      box-shadow: inset 0 0 15px rgba(99, 161, 255, 0.3),;
      border-color: #63a1ff;
    }
    100% {
      box-shadow: none;
      border-color: transparent;
      background-color: transparent;
    }
  }
  .btn {
    font: normal normal 500 1em var(--font-system), -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: none;
    padding: 0.7em 0.8em;
    position: relative;
    font-size: 14px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    align-items: center;
    border-color: rgb(227, 227, 227);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    text-decoration: none;
  }
  .btn span {
    text-decoration: none;
  }
  .btn--large {
    font-size: 1.2em;
  }
  .btn--clear {
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;
  }
  .btn .um-arrow {
    margin-left: 0.4em;
  }
  .btn svg:not(.um-arrow), .btn img {
    width: initial;
    height: 1.2em;
    margin: -0.1em;
  }
  .btn--loading {
    cursor: wait;
    pointer-events: none;
  }
  .btn--loading:after {
    width: 12px;
    border: 2px solid rgba(125, 125, 125, 0.3);
    height: 12px;
    content: '';
    display: inline-block;
    animation: keyframes-buttonLoading;
    margin-left: 0.6em;
    border-radius: 50%;
    animation-duration: 0.8s;
    border-right-color: var(--color-text-secondary);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .btn--error {
    color: #fff !important;
    background: #c92a2a !important;
  }
  .btn--error:after {
    float: right;
    content: '⚠';
    padding-left: 9px;
  }
  .btn--success {
    color: #fff !important;
    background: #2f9e44 !important;
  }
  .btn--success:after {
    float: right;
    content: '✓';
    padding-left: 9px;
  }
  .btn--success:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    box-shadow: 0 0 0 0 #2f9e443b;
    border-radius: inherit;
    animation-name: keyframes-buttonSuccess;
    pointer-events: none;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
  }
  .btn svg:first-child, .btn img:first-child {
    margin-right: 0.4em;
  }
  .btn svg:last-child, .btn img:last-child {
    margin-left: 0.4em;
  }
  .btn.btn--icon svg, .btn.btn--icon img {
    width: initial;
    height: 1.2em;
    margin: -0.1em;
  }
  .btn:hover, .btn:hover span {
    text-decoration: none;
  }
  .btn.primary {
    color: rgb(255, 255, 255);
    background: rgb(39, 39, 44);
    border-color: rgb(39, 39, 44);
  }
  .btn:hover {
    background: rgb(244, 244, 244);
    border-color: rgb(229, 229, 229);
  }
  .btn.primary:hover {
    color: rgb(255, 255, 255);
    background: rgb(61, 61, 70);
    border-color: rgb(39, 39, 44);
  }
  @keyframes keyframes-buttonSuccess {
    from {
      box-shadow: 0 0 0 0 rgba(47, 158, 68, 0);
    }
    to {
      box-shadow: 0 0 0 5px rgba(47, 158, 68, 0.3);
    }
  }
  @keyframes keyframes-buttonLoading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes keyframes-navbar {
    0% {
      opacity: 0;
      transform: scale(0.9) translate(0, -10px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(0, 0);
    }
  }

/* Navbar container */
#c29kecvks9 {
    background-color: #ffffff; /* Arka plan rengi */
    padding: 10px; /* Kenar boşluğu */
    display: flex; /* Flexbox kullanarak öğeleri yatay düzende hizala */
    justify-content: space-between; /* Öğeleri aralarında boşluk bırakarak düzenle */
    align-items: center; /* Öğeleri dikey eksende hizala */
  }
  
  /* Logo ve başlık */
  .um-nav-children {
    display: flex; /* Flexbox kullanarak öğeleri yatay düzende hizala */
    align-items: center; /* Öğeleri dikey eksende hizala */
  }
  
  .um-nav-children a {
    text-decoration: none; /* Bağlantı altını çizme */
    color: #333333; /* Metin rengi */
    font-size: 16px; /* Metin boyutu */
  }
  
  /* Logo stili */
  ._8c82ce03 {
    --scale: 1; /* Logo boyutu */
  }
  
  /* Menü bağlantıları */
  .um-nav-links {
    list-style-type: none; /* Liste işaretini kaldır */
    margin: 0; /* Kenar boşluğunu kaldır */
    padding: 0; /* Dolgu boşluğunu kaldır */
  }
  
  .um-nav-links li {
    display: inline-block; /* Öğeleri yatay düzende hizala */
    margin-right: 20px; /* Sağ kenar boşluğu */
  }
  
  .um-nav-links li:last-child {
    margin-right: 0; /* Son öğenin sağ kenar boşluğunu kaldır */
  }
  
  .um-nav-links li a {
    text-decoration: none; /* Bağlantı altını çizme */
    color: #333333; /* Metin rengi */
    font-size: 16px;
  }
  ._5859e61e {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  ._265f70bf {
    color: rgb(25, 139, 158);
    padding: 10px;
    font-size: 15px;
    text-align: center;
    background-color: rgb(49, 111, 147);
  }
  ._265f70bf a {
    color: inherit;
    text-decoration: underline;
  }
  ._157dc3d3 {
    height: 70px;
    display: flex;
    padding: 0 30px;
    position: relative;
    flex-grow: 1;
    align-items: center;
    border-radius: 5px;
    flex-direction: row;
    --nav-flyout-bg: var(--color-bg);
  }
  ._32caed59 {
    margin: 0;
    margin-right: auto;
  }
  ._32caed59 > a, ._32caed59 > span {
    font: var(--font-title);
    color: inherit;
    display: flex;
    align-items: center;
    line-height: 0;
  }
  ._32caed59 > a:hover, ._32caed59 > span:hover {
    text-decoration: none;
  }
  ._32caed59 > a > div + span, ._32caed59 > span > div + span {
    margin-left: calc(15px * var(--gap));
  }
  ._b9923f60 {
    display: block;
    max-width: calc(200px * var(--scale));
    max-height: calc(50px * var(--scale));
  }
  ._37f69db3 {
    position: relative;
    background: rgba(255,255,255,0.5);
    padding-top: calc(50px + 70px);
    padding-bottom: 50px;
  }
  ._1646e493 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  ._b7039e48 {
    color: var(--color-accent-primary);
    margin-top: 0;
  }
  ._bd5da07d {
    font: var(--font-title);
    color: var(--color-text-primary);
    margin: 0 0 0 0;
    font-size: var(--fontSize-title);
  }
  ._181e6feb {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
  }
  ._de4184ab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ._9bca8a54 {
    height: 26px;
    margin: 1.5em;
  }
  ._df0d32a9 {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  ._9eafc181 {
    display: flex;
  }
  @media (max-width: 750px) {
    ._9eafc181 {
      flex-direction: column;
    }
  }
  ._9edd5845 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    flex-direction: column;
  }
  ._a26fd77c {
    font-size: 0.9em;
  }
  ._b6da73c7 {
    color: var(--color-accent-primary);
    margin-top: 0;
  }
  ._b7b6e02e {
    font: var(--font-title);
    color: var(--color-text-primary);
    margin: 0 0 0 0;
    font-size: var(--fontSize-title);
  }
  ._b2c32198 {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
  }
  ._ce2658d4 {
    margin: 0 0 1em;
    padding: 0;
    font-size: 0.9em;
    list-style: none;
  }
  ._b15170dd {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
  }
  ._cdb96923 {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    margin-right: 1em;
    justify-content: center;
  }
  ._cdb96923:not(svg):not(img) {
    padding: 0.4em;
  }
  ._cdb96923img {
    object-fit: contain;
  }
  ._cdb96923 svg {
    position: relative;
  }
  ._6ec344ec {
    display: flex;
    flex-direction: column;
  }
  ._c0d960e7 {
    color: var(--color-text-primary);
    font-size: 1.1em;
    font-weight: var(--fontWeight-text-medium);
  }
  ._2a5dfebd {
    width: calc(50% - 4em);
    margin-left: 3em;
  }
  @media (max-width: 750px) {
    ._2a5dfebd {
      width: 100%;
      margin: 3em 0 0 0;
    }
  }
  ._5c8ece1c {
    display: block;
    max-width: 100%;
    border-radius: calc(var(--card-borderRadius)/2);
  }
  ._58faed61 {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  ._58077e3f {
    display: flex;
    flex-direction: column;
  }
  ._3b8ea6f8 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  ._b8e0d37d {
    color: var(--color-accent-primary);
    margin-top: 0;
  }
  ._4f92761b {
    font: var(--font-title);
    color: var(--color-text-primary);
    margin: 0 0 0 0;
    font-size: var(--fontSize-title);
  }
  ._6347dd0e {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
  }
  ._4e595ea5 {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 740px) {
    ._4e595ea5 {
      flex-direction: column;
    }
  }
  ._9ba74c50 {
    display: flex;
    padding: 1em;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  ._9ba74c50:last-child {
    border-right: none;
  }
  @media (max-width: 740px) {
    ._9ba74c50 {
      padding: 1em 1.5em;
      border-right: none;
      flex-direction: column;
      justify-content: space-between;
    }
    ._9ba74c50:last-child {
      border-bottom: none;
    }
  }
  ._4734bfb0 {
    color: var(--color-text-primary);
    font-size: 1.8em;
    font-weight: var(--fontWeight-text-heavy);
  }
  ._b5937007 {
    font-size: 1em;
  }
  .image-container {
    text-align: center;
  }
  .bitisik {
    text-align: center;
  }
  
  .custom-select {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .charts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
  }
  
  .chart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .select {
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .chart {
    width: 650px;
    height: 700px;
  }

  ._5b63a701 {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  ._9c707f72 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  ._ed458da3 {
    color: var(--color-accent-primary);
    margin-top: 0;
  }
  ._eecc5363 {
    font: var(--font-title);
    color: var(--color-text-primary);
    margin: 0 0 0 0;
    font-size: var(--fontSize-title);
  }
  ._885f1456 {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
  }
  ._e0512665 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -3em;
    justify-content: space-between;
  }
  ._0c601ae6 {
    width: calc(33.333% - 3em);
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 3em;
    flex-direction: column;
  }
  @media (max-width: 500px) {
    ._0c601ae6 {
      width: 100% !important;
    }
  }
  @media (max-width: 800px) {
    ._0c601ae6 {
      width: calc(50% - 3em);
    }
  }
  ._c4b8df38 {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 1em;
    justify-content: center;
  }
  ._c4b8df38:not(svg):not(img) {
    padding: 0.4em;
  }
  ._c4b8df38img {
    object-fit: contain;
  }
  ._c4b8df38 svg {
    position: relative;
  }
  ._4f85a012 {
    color: var(--color-text-primary);
    margin-top: 0;
    font-weight: var(--fontWeight-text-medium);
    margin-bottom: 0.2em;
  }
  ._6813642c {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  ._094e562f {
    color: var(--color-accent-primary);
    margin-top: 0;
  }
  ._0892bb67 {
    font: var(--font-title);
    color: var(--color-text-primary);
    margin: 0 0 0 0;
    font-size: var(--fontSize-title);
  }
  ._f45cac5c {
    margin: 0.5em 0 30px 0;
    font-size: 1.2em;
  }
  ._30c0d1b3 {
    display: flex;
    flex-wrap: wrap;
  }
  ._a4efb844 {
    margin: 16px auto 16px 0;
    max-width: 40%;
    min-width: 40%;
  }
  ._a4efb844:last-child {
    margin: 16px auto 16px 0;
  }
  ._a4efb844:nth-child(even) {
    margin-left: auto;
    margin-right: 0;
  }
  @media (max-width: 1000px) {
    ._a4efb844 {
      max-width: 100%;
      min-width: 100%;
    }
  }
  ._f50447d1 {
    color: var(--color-text-primary);
    margin: 0;
    font-size: 1.05em;
    font-weight: var(--fontWeight-text-medium);
  }
  ._c4b89fde {
    display: flex;
    padding: 30px 0 60px 0;
    position: relative;
    background: rgba(253, 242, 242, 0.69);
    border-top: 1px solid var(--color-border-normal);
    padding-top: 1.6em;
  }
  ._bea1daea {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 500px) {
    ._bea1daea {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  ._c0e4633f {
    font-size: 1em;
  }
  ._a6d0f97b {
    margin-top: 10px;
  }
  ._9fc8f72f {
    display: block;
    max-width: calc(200px * var(--scale));
    max-height: calc(40px * var(--scale));
  }
  ._379aefea {
    display: flex;
    margin-top: 1em;
  }
  ._77e6fd5c {
    color: inherit;
    margin-right: 1em;
  }
  ._77e6fd5c:hover {
    color: var(--color-text-primary);
  }
  ._2cd4f8c5 {
    display: block;
  }
  ._370825cf {
    margin: -10px;
    display: flex;
    margin-top: 10px;
    align-items: flex-start;
    flex-direction: column;
  }
  ._370825cf > * {
    margin: 10px;
  }
  ._d1a0a8ea {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
  }
  @media (max-width: 500px) {
    ._d1a0a8ea {
      margin-top: 30px;
    }
  }
  ._0fc50e27 {
    margin-left: 80px;
    margin-bottom: 30px;
  }
  @media (max-width: 500px) {
    ._0fc50e27 {
      margin-left: 0;
      margin-right: 50px;
    }
  }
  ._31f6b92b {
    color: var(--color-text-primary);
    margin: 0 0 5px 0;
    font-weight: var(--fontWeight-text-medium);
  }
  ._91687afc {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ._e0485177 {
    padding: 4px 0;
    font-size: 0.9em;
  }
  ._c288f4a7 {
    color: var(--color-text-secondary);
    padding: 10px 0;
  }