<!DOCTYPE html>
<html lang="en">
  <head>
    <title>2024 Turkey Local Election Sentiment Analysis</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reports.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav id="c29kecvks9" class="_e45b5504 um-nav-wrapper um-classic um-hidden">
      <div class="um-nav-children">
        <div class="_32caed59" style="--gap: 1; font-size: 16px">
          <a>
            <div class="_8c82ce03" style="--scale: 1">
              <img
                src="{{ url_for('static', filename='images/logo.png') }}"
                class="_b9923f60"
                alt="logo"
              />
            </div>
            <span class="_11650ac9"
              >2024 Turkey Local Election Sentiment Analysis</span
            >
          </a>
        </div>
      </div>
      <ul class="um-nav-links">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('reports') }}">Reports</a></li>
      </ul>
      <div class="um-nav-buttons">
        {% if user %}
        <span>Welcome, {{ user['username'] }}</span>
        <button id="btn_logout" class="_e72e75b2 btn">
          <span><a href="{{ url_for('logout') }}">Logout</a></span>
        </button>
        {% else %}
        <button id="btn_login" class="_e72e75b2 btn">
          <span><a href="/static/regform.html">Login</a></span>
        </button>
        <button id="btn_signup" class="_89517563 btn">
          <span><a href="/static/regform.html">Sign-Up</a></span>
        </button>
        {% endif %}
      </div>
    </nav>

    <!-- Charts Container -->
    <div class="charts-container">
      <div class="chart-item">
        <form action="#">
          <div class="custom-select">
            <select id="select-choice1" class="select">
              <!-- Options will be populated dynamically -->
            </select>
            <canvas id="myChart1" class="chart"></canvas>
          </div>
        </form>
      </div>
      <div class="chart-item">
        <form action="#">
          <div class="custom-select">
            <select id="select-choice2" class="select">
              <!-- Options will be populated dynamically -->
            </select>
            <canvas id="myChart2" class="chart"></canvas>
          </div>
        </form>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <div class="content">
      <!-- Dynamic Images from Database -->
      <div class="photos">
        <div>
          {% for image in images %}
          <div class="image-container">
            <hr />
            <div class="description">{{ image.description }}</div>
            <img
              src="data:image/png;base64,{{ image.image }}"
              style="width: 900px; height: 500px"
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="_c4b89fde">
      <div class="wr">
        <div class="_bea1daea">
          <div class="_240f2910">
            <span class="_c0e4633f">©️ 2024 </span>
            <div class="_a6d0f97b" style="--scale: 0.5"></div>
            <div class="_379aefea">
              <a href="https://www.facebook.com/" class="_77e6fd5c"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                  width="24"
                  height="24"
                  class="um-icon _2cd4f8c5"
                ></svg></a
              ><a href="https://www.instagram.com/" class="_77e6fd5c"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                  width="24"
                  height="24"
                  class="um-icon _2cd4f8c5"
                ></svg></a
              ><a href="https://twitter.com/" class="_77e6fd5c"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  width="24"
                  height="24"
                  class="um-icon _2cd4f8c5"
                ></svg></a
              ><a href="https://www.youtube.com/" class="_77e6fd5c"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                  width="24"
                  height="24"
                  class="um-icon _2cd4f8c5"
                ></svg
              ></a>
            </div>
          </div>
          <ul class="_d1a0a8ea">
            <li class="_0fc50e27">
              <h4 class="_31f6b92b">Features</h4>
              <ul class="_91687afc">
                <li class="_e0485177">
                  <a href="" class="_c288f4a7">Something Great</a>
                </li>
                <li class="_e0485177">
                  <a href="" class="_c288f4a7">Another Thing</a>
                </li>
                <li class="_e0485177">
                  <a href="" class="_c288f4a7">So many Features</a>
                </li>
              </ul>
            </li>
            <li class="_0fc50e27">
              <h4 class="_31f6b92b">Company</h4>
              <ul class="_91687afc">
                <li class="_e0485177"><a href="" class="_c288f4a7">Blog</a></li>
                <li class="_e0485177">
                  <a href="" class="_c288f4a7">About Us</a>
                </li>
                <li class="_e0485177">
                  <a href="" class="_c288f4a7">Contact</a>
                </li>
                <li class="_e0485177"><a href="" class="_c288f4a7">Jobs</a></li>
              </ul>
            </li>
            <li class="_0fc50e27">
              <h4 class="_31f6b92b">Legal</h4>
              <ul class="_91687afc">
                <li class="_e0485177">
                  <a href="/privacy-policy" class="_c288f4a7">Privacy Policy</a>
                </li>
                <li class="_e0485177">
                  <a href="/terms-of-use" class="_c288f4a7">Terms of USe</a>
                </li>
                <li class="_e0485177">
                  <a href="/cookie-policy" class="_c288f4a7">Cookie Policy</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
